@model Employee
@{
    ViewData["Title"] = "Подробности сотрудника";
}

<h2>Подробности сотрудника</h2>

<div>
    <dl class="row">
        <dt class="col-sm-3">ФИО:</dt>
        <dd class="col-sm-9">@Model.FullName</dd>

        <dt class="col-sm-3">Должность:</dt>
        <dd class="col-sm-9">@Model.Position</dd>

        <dt class="col-sm-3">Телефон:</dt>
        <dd class="col-sm-9">@Model.Phone</dd>

        <dt class="col-sm-3">Возраст:</dt>
        <dd class="col-sm-9">@Model.Age</dd>

        <dt class="col-sm-3">Пол:</dt>
        <dd class="col-sm-9">@Model.Gender</dd>

        <dt class="col-sm-3">Адрес:</dt>
        <dd class="col-sm-9">@Model.Address</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Редактировать</a>
    <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
</div>