@model Order
@{
    ViewData["Title"] = "Подробности заказа";
}

<h2>Подробности заказа #@Model.Id</h2>

<div class="row">
    <div class="col-md-6">
        <h4>Основная информация</h4>
        <dl class="row">
            <dt class="col-sm-4">Дата заказа:</dt>
            <dd class="col-sm-8">@Model.OrderDate.ToString("dd.MM.yyyy HH:mm")</dd>

            <dt class="col-sm-4">Дата возврата:</dt>
            <dd class="col-sm-8">@(Model.ReturnDate?.ToString("dd.MM.yyyy HH:mm") ?? "В процессе")</dd>

            <dt class="col-sm-4">Серийный номер:</dt>
            <dd class="col-sm-8">@Model.CarSerialNumber</dd>

            <dt class="col-sm-4">Клиент:</dt>
            <dd class="col-sm-8">@Model.Customer?.FullName</dd>

            <dt class="col-sm-4">Телефон клиента:</dt>
            <dd class="col-sm-8">@Model.Customer?.Phone</dd>

            <dt class="col-sm-4">Сотрудник:</dt>
            <dd class="col-sm-8">@Model.Employee?.FullName</dd>

            <dt class="col-sm-4">Должность:</dt>
            <dd class="col-sm-8">@Model.Employee?.Position</dd>
        </dl>
    </div>

    <div class="col-md-6">
        <h4>Финансовая информация</h4>
        <dl class="row">
            <dt class="col-sm-4">Общая стоимость:</dt>
            <dd class="col-sm-8">@Model.TotalPrice.ToString("N2")</dd>

            <dt class="col-sm-4">Гарантия:</dt>
            <dd class="col-sm-8">
                @if (Model.HasWarranty)
                {
                    <span class="badge bg-success">Да (@Model.WarrantyPeriodDays дней)</span>
                }
                else
                {
                    <span class="badge bg-secondary">Нет</span>
                }
            </dd>

            <dt class="col-sm-4">Статус:</dt>
            <dd class="col-sm-8">
                @if (Model.ReturnDate.HasValue)
                {
                    <span class="badge bg-success">Завершен</span>
                }
                else
                {
                    <span class="badge bg-warning">В работе</span>
                }
            </dd>
        </dl>

        <h4>Неисправности</h4>
        <ul class="list-group">
            @foreach (var orderFault in Model.OrderFaults)
            {
                <li class="list-group-item">
                    <strong>@orderFault.FaultType.Description</strong><br />
                    <small>Стоимость: @orderFault.FaultType.RepairCost.ToString("N2")</small><br />
                    <small>Методы: @orderFault.FaultType.RepairMethods</small>
                </li>
            }
        </ul>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Редактировать</a>
    <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
</div>